/*----- RESET ----- */
*{ border:none; outline:none; font-family: 'PT Sans', sans-serif;margin: 0px;}
a {text-decoration:none;}
ul{list-style: none;}
body{background-color: black;}
html {scroll-behavior: smooth;}


/* CORES BOX
.cont_1{background-color: greenyellow}
.cont_2{background-color: goldenrod}
.cont_3	{background-color:green}
.cont_4{background-color: blue}
.cont_5{background-color: red;}
.cont_6{background-color: purple;}
.cont_7{background-color:pink;}
.cont_8{background-color: brown	;}
.container-footer{background-color: aquamarine;}
.texto-hist{background-color: pink}
/*MENU*/
.container-fluid{width: 100%; height:600px;color:white;}
.menu{font-size:22px;color: white; letter-spacing: 1.5px;font-weight: 500;}
.menu:hover{font-size:22px;color: white; letter-spacing: 1.5px;font-weight: 500;}
.quemsomos_2{padding-bottom:220px;}


/*     ✱✱✱✱✱✱✱SECTION NAV ✱✱✱✱✱✱✱      */
#edit{background-color: black;padding: 15px;}
#botao{font-size:22px;color: black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 160px;}
.contato-nav{ margin-left: 150px;}
.menu.active{color:yellow;}


/*     ✱✱✱✱✱✱✱SECTION 5 - FEEDBACK ✱✱✱✱✱✱✱      */
.cont_5{height: 500px;padding-left: 50px;}
.cont_5 h2{color: yellow;font-weight: 600;font-size: 55px;letter-spacing:4px;text-transform: uppercase;}
.cont_5 h4{color: white;font-weight: 600;letter-spacing: 2px;text-transform: uppercase;}




/*
      ✱✱✱✱✱✱✱ᴍᴇᴅɪᴀ ǫᴜᴇʀɪᴇs✱✱✱✱✱✱✱
*/

@media screen and (min-width:120px){

/*SECTION NAV*/
#edit{background-color: black;padding: 15px;}
#botao{font-size:19px;color:black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 180px;}
.contato-nav{margin-left:0px;margin-top: 15px;}

/*     ✱✱✱✱✱✱✱SECTION 1 - BANNER ✱✱✱✱✱✱✱      */
.cont_1{padding-top: 250px;height: 700px;}
.cont_1 h1{font-size: 60px;letter-spacing: 0px;color: yellow;font-weight: 600;}/* TITULO */
.cont_1 h4{font-size: 20px;margin-left: 0em;font-weight: 600;}/*SUB-TITULO */
#arrow{width: 45px;margin-top: 150px;-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;}
#arrow:hover{	box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);}
#arrow_1{margin-left: 0em;}
#cont-arrow{display: inline;}

/*     ✱✱✱✱✱✱✱SECTION 2 - HISTORIA ✱✱✱✱✱✱✱      */
.cont_2{height: 700px;padding: 20px;}
.cont_2 h2{color: yellow;font-weight: 600;letter-spacing:4px;text-transform: uppercase;font-size: 38px;}
.cont_2 h4{color: white;font-weight: 600;letter-spacing: 2px;text-transform: uppercase;font-size:18px;}
.cont_2 span{color: yellow;font-size: 20px;}
.texto-hist{color: white;font-size: 20px;text-align: left;margin-top: 60px;}
#iframe{border: 5px solid yellow;}

/*     ✱✱✱✱✱✱✱SECTION 3 - EQUIPE ✱✱✱✱✱✱✱      */
.cont_3{height: 700px;padding: 20px;}
.cont_3 h2{color: yellow;font-weight: 600;letter-spacing:4px;text-transform: uppercase;font-size: 38px;}
.cont_3 h4{color: white;font-weight: 600;letter-spacing: 2px;text-transform: uppercase;font-size:18px;}
#eq_1{order: 2;}
#eq_2{order: 1;}

/*     ✱✱✱✱✱✱✱SECTION 4 - STATS ✱✱✱✱✱✱✱      */
.cont_4{height: 550px;}
.box{background-color: yellow;border-radius: 50px;width:270px;height:110px;margin-left:15px;}
.box label{font-size:35px;text-transform: uppercase;font-weight: 600;letter-spacing: 2px; text-align:center;width: 100%;padding-top: 5px;}
.box h4{font-size:20px;text-transform: uppercase;font-weight: 600;letter-spacing: 2px; text-align: center;padding-bottom: 15px;}

/*     ✱✱✱✱✱✱✱SECTION 5 - FEEDBACK ✱✱✱✱✱✱✱      */
.cont_5{height: 500px;}
.cont_5 h2{color: yellow;font-weight: 600;letter-spacing:4px;text-transform: uppercase;font-size: 38px;}
.cont_5 h4{color: white;font-weight: 600;letter-spacing: 2px;text-transform: uppercase;font-size:18px;}


/*     ✱✱✱✱✱✱✱SECTION 6 - ODS ✱✱✱✱✱✱✱      */
.cont_6{height: 1350px;padding-left: 50px;padding-top: 80px;}
.cont_6 h2{color: yellow;font-weight: 600;font-size: 38px;letter-spacing:4px;text-transform: uppercase;}
.cont_6 h3{color: yellow;font-weight: 600;font-size: 21px;letter-spacing: 2px;text-transform: uppercase;margin-left: -2em;}
.cont_6 h4{color: white;font-weight: 600;letter-spacing: 2px;text-transform: uppercase;font-size: 18px;}
.cont_6 h5{color: white;letter-spacing: 2px;text-transform: uppercase;font-size:15px;margin-left: -2em;}
.img_ods{width: 150px;margin-top:30px;margin-bottom: 25px;margin-left: -2em;}

/*     ✱✱✱✱✱✱✱SECTION 7 - SERVIÇOS ✱✱✱✱✱✱✱      */
.cont_7{height:900px;padding-left: 50px;padding-top: 80px;}
.cont_7 h2{color: yellow;font-weight: 600;font-size: 32px;letter-spacing:4px;text-transform: uppercase;margin-left: -1em;}
.cont_7 h3{color: yellow;font-weight: 600;font-size: 21px;letter-spacing: 2px;text-transform: uppercase;margin-left: -2em;}
.cont_7 h4{color: white;font-weight: 600;letter-spacing: 2px;text-transform: uppercase;font-size: 18px;margin-left: -1em;}
.cont_7 h5{color: white;letter-spacing: 2px;text-transform: uppercase;font-size:15px;margin-left: -2em;}
#serv_1{order:1;}
#serv_2{order:2;}
#serv_3{order:3;}

/*     ✱✱✱✱✱✱✱SECTION 8 - CONTATO ✱✱✱✱✱✱✱      */
.cont_8{height:700px;padding-left: 50px;}
.cont_8 h2{color: yellow;font-weight: 600;font-size: 30px;letter-spacing:4px;text-transform: uppercase;font-size: 38px;}
.cont_8 h4{color: white;font-weight: 600;letter-spacing: 2px;text-transform: uppercase;font-size:18px;}

.title-contato{font-size:30px;padding-bottom:15px;letter-spacing: 1.5px;padding-bottom: 10px;width:100%;text-align:center;}
.subtitle-contato{font-size:20px;text-align:center;letter-spacing: 1.5px;margin-left:190px;width: 100%;height:50%;margin-left: 0px;background-color: black;}
.contato-card{background-color:black ;width: 400px;height: 190px;margin-left: 15em;}

.container-formulario{margin-top:10px;margin-left:-30px;background-color:black;width:280px; padding: 20px;border: 3px solid white; border-radius: 25px;-webkit-box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);-moz-box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);}
#contato{height: 1050px;margin-bottom: 100px;margin-top: 0px;}
#title-forms{color:white;}


#texto-contato{margin-top: 70px;}
#btn-form{background-color: yellow; border-radius:25px; width: 100%;font-size:20px;}
textarea {resize: none;}
.form-label {
	font-size: px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}
/*     ✱✱✱✱✱✱✱SECTION 9 - FOOTER ✱✱✱✱✱✱✱     */   
.container-footer{margin-bottom: 10px;}
#footer_logo{width:150px;padding: 7px;margin-bottom: 11px;}
#subtitle_footer{font-size: 15px;letter-spacing: 1.8px;color:white;padding-top: 0px;padding-bottom: 7px;margin-top:15px;}
}

@media screen and (min-width:375px){
/*SECTION NAV*/
#edit{background-color: black;padding: 15px;}
#botao{font-size:19px;color: black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 180px;}
.contato-nav{ margin-top:15px;}

/*     ✱✱✱✱✱✱✱SECTION 1 - BANNER ✱✱✱✱✱✱✱      */
.cont_1{padding-top: 250px;height: 700px;}
.cont_1 h1{font-size: 65px;letter-spacing: 8px;color: yellow;font-weight: 600;}/* TITULO */
.cont_1 h4{font-size: 20px;margin-left: 5.5em;font-weight: 600;}/*SUB-TITULO */
#arrow{width: 45px;margin-top: 150px;-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;}
#arrow:hover{	box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);}
#arrow_1{margin-left: 0em;}
#cont-arrow{display: inline;}

}


@media screen and (min-width:414px){
/*SECTION NAV*/
#edit{background-color: black;padding: 15px;}
#botao{font-size:19px;color: black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 180px;}
.contato-nav{ margin-left:0px;margin-top: 15px;}

/*     ✱✱✱✱✱✱✱SECTION 1 - BANNER ✱✱✱✱✱✱✱      */
.cont_1{padding-top: 250px;height: 650px;}
.cont_1 h1{font-size: 70px;letter-spacing: 10px;color: yellow;font-weight: 600;}/* TITULO */
.cont_1 h4{font-size: 23px;margin-left: 5em;font-weight: 600;}/*SUB-TITULO */
#arrow{width: 45px;margin-top: 150px;-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;}
#arrow:hover{	box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);}
#arrow_1{margin-left: 0em;}
#cont-arrow{display: inline;}

/*     ✱✱✱✱✱✱✱SECTION 2 - HISTORIA ✱✱✱✱✱✱✱      */
.cont_2{height: 800px;padding: 20px;}
.cont_2 h2{color: yellow;font-weight: 600;font-size: 55px;letter-spacing:4px;}
.cont_2 h4{color: white;font-weight: 600;letter-spacing: 2px;}
.cont_2 span{color: yellow;font-size: 24px;}
.texto-hist{color: white;font-size: 24px;text-align: left;margin-top: 60px;}
#iframe{border: 5px solid yellow;}


}

@media screen and (min-width:480px){
#contato{height: 950px;margin-bottom: 100px;margin-top: -95px;}

/*     ✱✱✱✱✱✱✱SECTION 1 - BANNER ✱✱✱✱✱✱✱      */
.cont_1{padding-top: 250px;height: 650px;}
.cont_1 h1{font-size: 75px;letter-spacing: 10px;color: yellow;font-weight: 600;}/* TITULO */
.cont_1 h4{font-size: 23px;margin-left: 5em;font-weight: 600;}/*SUB-TITULO */
#arrow{width: 45px;margin-top: 150px;-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;}
#arrow:hover{	box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);}
#arrow_1{margin-left: 0em;}
#cont-arrow{display: inline;}

/*     ✱✱✱✱✱✱✱SECTION 2 - HISTORIA ✱✱✱✱✱✱✱      */
.cont_2{height: 800px;padding: 20px;}
.cont_2 h2{color: yellow;font-weight: 600;font-size: 55px;letter-spacing:4px;}
.cont_2 h4{color: white;font-weight: 600;letter-spacing: 2px;}
.cont_2 span{color: yellow;font-size: 24px;}
.texto-hist{color: white;font-size: 24px;text-align: left;margin-top: 60px;}
#iframe{border: 5px solid yellow;}

/*     ✱✱✱✱✱✱✱SECTION 4 - STATS ✱✱✱✱✱✱✱      */
.cont_4{height: 550px;}
.box{background-color: yellow;border-radius: 50px;width:400px;height:120px;margin: 0 auto;}
.box label{font-size:37px;text-transform: uppercase;font-weight: 600;letter-spacing: 2px; text-align:center;width: 100%;padding-top: 5px;}
.box h4{font-size:25px;text-transform: uppercase;font-weight: 600;letter-spacing: 2px; text-align: center;padding-bottom: 15px;}

/*     ✱✱✱✱✱✱✱SECTION 6 - ODS ✱✱✱✱✱✱✱      */
.cont_6{height: 1700px;padding-left: 50px;padding-top: 80px;}
.cont_6 h2{color: yellow;font-weight: 600;font-size: 55px;letter-spacing:4px;text-transform: uppercase;}
.cont_6 h3{color: yellow;font-weight: 600;font-size: 32px;letter-spacing: 2px;text-transform: uppercase;}
.cont_6 h4{color: white;font-weight: 600;letter-spacing: 2px;text-transform: uppercase;}
.cont_6 h5{color: white;letter-spacing: 2px;text-transform: uppercase;}
.img_ods{width: 200px;margin-top:30px;margin-bottom: 65px;}
}

@media screen and (min-width:550px){
/*SECTION NAV*/
#edit{background-color: black;padding: 15px;}
#botao{font-size:19px;color: black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 180px;}
.contato-nav{margin-left:0px;margin-top: 15px;}

/*     ✱✱✱✱✱✱✱SECTION 1 - BANNER ✱✱✱✱✱✱✱      */
.cont_1{padding-top: 250px;height: 700px;}
.cont_1 h1{font-size: 85px;letter-spacing: 12px;color: yellow;font-weight: 600;}/* TITULO */
.cont_1 h4{font-size: 23px;margin-left: 9em;font-weight: 600;}/*SUB-TITULO */
#arrow{width: 45px;margin-top: 150px;-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;}
#arrow:hover{	box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);}
#arrow_1{margin-left: 0em;}
#cont-arrow{display: inline;}

/*     ✱✱✱✱✱✱✱SECTION 2 - HISTORIA ✱✱✱✱✱✱✱      */
.cont_2{height: 800px;padding: 20px;}
.cont_2 h2{color: yellow;font-weight: 600;font-size: 55px;letter-spacing:4px;}
.cont_2 h4{color: white;font-weight: 600;letter-spacing: 2px;}
.cont_2 span{color: yellow;font-size: 24px;}
.texto-hist{color: white;font-size: 24px;text-align: left;margin-top: 60px;}
#iframe{border: 5px solid yellow;}

/*     ✱✱✱✱✱✱✱SECTION 6 - ODS ✱✱✱✱✱✱✱      */
.cont_6{height: 1600px;padding-left: 50px;padding-top: 80px;}
.cont_6 h2{color: yellow;font-weight: 600;font-size: 55px;letter-spacing:4px;text-transform: uppercase;}
.cont_6 h3{color: yellow;font-weight: 600;font-size: 32px;letter-spacing: 2px;text-transform: uppercase;}
.cont_6 h4{color: white;font-weight: 600;letter-spacing: 2px;text-transform: uppercase;}
.cont_6 h5{color: white;letter-spacing: 2px;text-transform: uppercase;}
.img_ods{width: 200px;margin-top:30px;margin-bottom: 65px;}

/*     ✱✱✱✱✱✱✱SECTION 8 - CONTATO ✱✱✱✱✱✱✱      */
.cont_8{height:720px;padding-left: 50px;}
.cont_8 h2{color: yellow;font-weight: 600;font-size: 55px;letter-spacing:4px;text-transform: uppercase;}
.cont_8 h4{color: white;font-weight: 600;letter-spacing: 2px;text-transform: uppercase;}

.title-contato{font-size:30px;padding-bottom:15px;letter-spacing: 1.5px;padding-bottom: 10px;width:100%;text-align:center;}
.subtitle-contato{font-size:20px;text-align:center;letter-spacing: 1.5px;margin-left:190px;width: 100%;height:50%;margin-left: 0px;background-color: black;}
.contato-card{background-color:black ;width: 400px;height: 190px;margin-left: 15em;}

.container-formulario{margin-top:10px;margin-left:50px;background-color:black;width:360px; padding: 20px;border: 3px solid white; border-radius: 25px;-webkit-box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);-moz-box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);}
#contato{height: 1050px;margin-bottom: 100px;margin-top: 0px;}
#title-forms{color:white;}


#texto-contato{margin-top: 70px;}
#btn-form{background-color: yellow; border-radius:25px; width: 100%;font-size:20px;}
textarea {resize: none;}
.form-label {
	font-size: px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}

/*     ✱✱✱✱✱✱✱SECTION 9 - FOOTER ✱✱✱✱✱✱✱     */   
.container-footer{margin-bottom: 10px;}
#footer_logo{width:150px;padding: 7px;margin-bottom: 11px;}
#subtitle_footer{font-size: 18px;letter-spacing: 1.8px;color:white;padding-top: 0px;padding-bottom: 7px;margin-top:15px;}

}

@media screen and (min-width: 680px){
/*     ✱✱✱✱✱✱✱SECTION 1 - BANNER ✱✱✱✱✱✱✱      */
.cont_1{padding-top: 280px;height: 770px;}
.cont_1 h1{font-size: 115px;letter-spacing: 15px;color: yellow;font-weight: 600;}/* TITULO */
.cont_1 h4{font-size: 33px;margin-left: 7em;font-weight: 600;}/*SUB-TITULO */
#arrow{width: 55px;margin-top: 150px;-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;}
#arrow:hover{	box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);}
#arrow_1{margin-left: 0em;}
#cont-arrow{display: inline;}

/*     ✱✱✱✱✱✱✱SECTION 2 - HISTORIA ✱✱✱✱✱✱✱      */
.cont_2{height: 800px;padding: 20px;}
.cont_2 h2{color: yellow;font-weight: 600;font-size: 55px;letter-spacing:4px;}
.cont_2 h4{color: white;font-weight: 600;letter-spacing: 2px;}
.cont_2 span{color: yellow;font-size: 24px;}
.texto-hist{color: white;font-size: 24px;text-align: left;margin-top: 60px;}
#iframe{border: 5px solid yellow;}

/*     ✱✱✱✱✱✱✱SECTION 4 - STATS ✱✱✱✱✱✱✱      */
.cont_4{height: 550px;}
.box{background-color: yellow;border-radius: 50px;width:520px;height:130px;margin: 0 auto;}
.box label{font-size:42px;text-transform: uppercase;font-weight: 600;letter-spacing: 2px; text-align:center;width: 100%;padding-top: 5px;}
.box h4{font-size:30px;text-transform: uppercase;font-weight: 600;letter-spacing: 2px; text-align: center;padding-bottom: 15px;}

/*     ✱✱✱✱✱✱✱SECTION 8 - CONTATO ✱✱✱✱✱✱✱      */
.cont_8{height:720px;padding-left: 50px;}
.cont_8 h2{color: yellow;font-weight: 600;font-size: 55px;letter-spacing:4px;text-transform: uppercase;}
.cont_8 h4{color: white;font-weight: 600;letter-spacing: 2px;text-transform: uppercase;}

.title-contato{font-size:30px;padding-bottom:15px;letter-spacing: 1.5px;padding-bottom: 10px;width:100%;text-align:center;}
.subtitle-contato{font-size:20px;text-align:center;letter-spacing: 1.5px;margin-left:190px;width: 100%;height:50%;margin-left: 0px;background-color: black;}
.contato-card{background-color:black ;width: 400px;height: 190px;margin-left: 15em;}

.container-formulario{margin-top:10px;margin-left:110px;background-color:black;width:360px; padding: 20px;border: 3px solid white; border-radius: 25px;-webkit-box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);-moz-box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);}
#contato{height: 1050px;margin-bottom: 100px;margin-top: 0px;}
#title-forms{color:white;}


#texto-contato{margin-top: 70px;}
#btn-form{background-color: yellow; border-radius:25px; width: 100%;font-size:20px;}
textarea {resize: none;}
.form-label {
	font-size: px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}

/*     ✱✱✱✱✱✱✱SECTION 9 - FOOTER ✱✱✱✱✱✱✱     */   
.container-footer{margin-bottom: 10px;}
#footer_logo{width:150px;padding: 7px;margin-bottom: 11px;}
#subtitle_footer{font-size: 18px;letter-spacing: 1.8px;color:white;padding-top: 0px;padding-bottom: 7px;margin-top:15px;}

}
@media screen and (min-width:990px){

/*SECTION NAV*/
#edit{background-color: black;padding: 0px;}
#botao{font-size:17px;color: black;letter-spacing: 1px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 120px;}
.contato-nav{margin-left:0px;margin-top: 2px;}

/*     ✱✱✱✱✱✱✱SECTION 1 - BANNER ✱✱✱✱✱✱✱      */
.cont_1{padding-top: 250px;height: 900px;}
.cont_1 h1{font-size: 150px;letter-spacing: 15px;color: yellow;font-weight: 600;}/* TITULO */
.cont_1 h4{font-size: 33px;margin-left: 12em;font-weight: 600;}/*SUB-TITULO */
#arrow{width: 55px;margin-top: 150px;-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;}
#arrow:hover{	box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);}
#arrow_1{margin-left: 0em;}
#cont-arrow{display: inline;}

/*     ✱✱✱✱✱✱✱SECTION 2 - HISTORIA ✱✱✱✱✱✱✱      */
.cont_2{height: 1000px;padding: 20px;}
.cont_2 h2{color: yellow;font-weight: 600;font-size: 55px;letter-spacing:4px;}
.cont_2 h4{color: white;font-weight: 600;letter-spacing: 2px;}
.cont_2 span{color: yellow;font-size: 24px;}
.texto-hist{color: white;font-size: 24px;text-align: left;margin-top: 60px;}
#iframe{border: 5px solid yellow;}

/*     ✱✱✱✱✱✱✱SECTION 3 - EQUIPE ✱✱✱✱✱✱✱      */
.cont_3{height: 400px;padding: 20px;}
.cont_3 h2{color: yellow;font-weight: 600;font-size: 55px;letter-spacing:4px;text-transform: uppercase;}
.cont_3 h4{color: white;font-weight: 600;letter-spacing: 2px;text-transform: uppercase;}
#eq_1{order: 2;}
#eq_2{order: 1;}

/*     ✱✱✱✱✱✱✱SECTION 4 - STATS ✱✱✱✱✱✱✱      */
.cont_4{height: 550px;}
.box{background-color: yellow;border-radius: 50px;width:520px;height:130px;margin: 0 auto;}
.box label{font-size:42px;text-transform: uppercase;font-weight: 600;letter-spacing: 2px; text-align:center;width: 100%;padding-top: 5px;}
.box h4{font-size:30px;text-transform: uppercase;font-weight: 600;letter-spacing: 2px; text-align: center;padding-bottom: 15px;}

/*     ✱✱✱✱✱✱✱SECTION 6 - ODS ✱✱✱✱✱✱✱      */
.cont_6{height: 1550px;padding-left: 50px;padding-top: 80px;}
.cont_6 h2{color: yellow;font-weight: 600;font-size: 55px;letter-spacing:4px;text-transform: uppercase;}
.cont_6 h3{color: yellow;font-weight: 600;font-size: 32px;letter-spacing: 2px;text-transform: uppercase;}
.cont_6 h4{color: white;font-weight: 600;letter-spacing: 2px;text-transform: uppercase;}
.cont_6 h5{color: white;letter-spacing: 2px;text-transform: uppercase;}
.img_ods{width: 200px;margin-top:30px;margin-bottom: 65px;}

/*     ✱✱✱✱✱✱✱SECTION 7 - SERVIÇOS ✱✱✱✱✱✱✱      */
.cont_7{height:800px;padding-left: 50px;padding-top: 80px;}
.cont_7 h2{color: yellow;font-weight: 600;font-size: 55px;letter-spacing:4px;text-transform: uppercase;}
.cont_7 h3{color: yellow;font-weight: 600;font-size: 32px;letter-spacing: 2px;text-transform: uppercase;}
.cont_7 h4{color: white;font-weight: 600;letter-spacing: 2px;text-transform: uppercase;padding-left: 95px;}
.cont_7 h5{color: white;letter-spacing: 2px;text-transform: uppercase;}
#serv_1{order:1;}
#serv_2{order:2;}
#serv_3{order:3;}

/*     ✱✱✱✱✱✱✱SECTION 8 - CONTATO ✱✱✱✱✱✱✱      */
.cont_8{height:720px;padding-left: 50px;}
.cont_8 h2{color: yellow;font-weight: 600;font-size: 55px;letter-spacing:4px;text-transform: uppercase;}
.cont_8 h4{color: white;font-weight: 600;letter-spacing: 2px;text-transform: uppercase;}

.title-contato{font-size:30px;padding-bottom:15px;letter-spacing: 1.5px;padding-bottom: 10px;width:100%;text-align:center;}
.subtitle-contato{font-size:20px;text-align:center;letter-spacing: 1.5px;margin-left:190px;width: 100%;height:50%;margin-left: 0px;background-color: black;}
.contato-card{background-color:black ;width: 400px;height: 190px;margin-left: 15em;}

.container-formulario{margin-top:10px;margin-left: 270px;background-color:black;width:360px; padding: 20px;border: 3px solid white; border-radius: 25px;-webkit-box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);-moz-box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);}
#contato{height: 1050px;margin-bottom: 100px;margin-top: 0px;}
#title-forms{color:white;}


#texto-contato{margin-top: 70px;}
#btn-form{background-color: yellow; border-radius:25px; width: 100%;font-size:20px;}
textarea {resize: none;}
.form-label {
	font-size: px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}

/*     ✱✱✱✱✱✱✱SECTION 9 - FOOTER ✱✱✱✱✱✱✱     */   
.container-footer{margin-bottom: 10px;}
#footer_logo{width:150px;padding: 7px;margin-bottom: 11px;}
#subtitle_footer{font-size: 18px;letter-spacing: 1.8px;color:white;padding-top: 0px;padding-bottom: 7px;margin-top:15px;}

}


@media screen and (min-width:1200px){

/*SECTION NAV*/
#edit{background-color: black;padding: 25px;}
#botao{font-size:22px;color: black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 160px;}
.contato-nav{ margin-left: 150px;}

/*     ✱✱✱✱✱✱✱SECTION 2 - HISTORIA ✱✱✱✱✱✱✱      */
.cont_2{height: 780px;padding: 20px;padding-top:185px;}
.cont_2 h2{color: yellow;font-weight: 600;font-size: 43px;letter-spacing:4px;}
.cont_2 h4{color: white;font-weight: 600;letter-spacing: 2px;font-size: 20px;}
.cont_2 span{color: yellow;font-size: 24px;}
.texto-hist{color: white;font-size: 24px;text-align: left;margin-top: 60px;}
#iframe{border: 5px solid yellow;}

/*     ✱✱✱✱✱✱✱SECTION 3 - EQUIPE ✱✱✱✱✱✱✱      */
.cont_3{height: 450px;padding: 20px;}
.cont_3 h2{color: yellow;font-weight: 600;font-size: 43px;letter-spacing:4px;}
.cont_3 h4{color: white;font-weight: 600;letter-spacing: 2px;font-size: 20px;}
#eq_1{order: 1;}
#eq_2{order: 2;}

/*     ✱✱✱✱✱✱✱SECTION 4 - STATS ✱✱✱✱✱✱✱      */
.cont_4{height: 400px;}
.box{background-color: yellow;border-radius: 50px;width:350px;height:120px;}
.box label{font-size:40px;text-transform: uppercase;font-weight: 600;letter-spacing: 2px; text-align:center;width: 100%;padding-top: 5px;}
.box h4{font-size:25px;text-transform: uppercase;font-weight: 600;letter-spacing: 2px; text-align: center;padding-bottom: 15px;}

/*     ✱✱✱✱✱✱✱SECTION 6 - ODS ✱✱✱✱✱✱✱      */
.cont_6{height: 900px;padding-left: 50px;padding-top: 80px;}
.cont_6 h2{color: yellow;font-weight: 600;font-size: 43px;letter-spacing:4px;}
.cont_6 h4{color: white;font-weight: 600;letter-spacing: 2px;font-size: 20px;}
.cont_6 h3{color: yellow;font-weight: 600;font-size: 23px;letter-spacing: 2px;text-transform: uppercase;}
.cont_6 h5{color: white;letter-spacing: 2px;text-transform: uppercase;font-size: 18px;}
.img_ods{width: 200px;margin-top:30px;margin-bottom: 65px;}

/*     ✱✱✱✱✱✱✱SECTION 7 - SERVIÇOS ✱✱✱✱✱✱✱      */
.cont_7{height:700px;padding-left: 50px;padding-top: 80px;}
.cont_7 h3{color: yellow;font-weight: 600;font-size: 23px;letter-spacing: 2px;text-transform: uppercase;}
.cont_7 h5{color: white;letter-spacing: 2px;text-transform: uppercase;font-size: 18px;margin: 0 auto;}
.cont_7 h2{color: yellow;font-weight: 600;font-size: 43px;letter-spacing:4px;margin-top: 70px;}
.cont_7 h4{color: white;font-weight: 600;letter-spacing: 2px;font-size: 20px;padding-left: 95px;}
#serv_1{order:3;}
#serv_2{order:1;}
#serv_3{order:2;}

/*     ✱✱✱✱✱✱✱SECTION 8 - CONTATO ✱✱✱✱✱✱✱      */
.cont_8{height:700px;padding-left: 50px;}
.cont_8 h2{color: yellow;font-weight: 600;font-size: 43px;letter-spacing:4px;padding-top: 200px;}
.cont_8 h4{color: white;font-weight: 600;letter-spacing: 2px;font-size: 20px;}
#contato{height: 750px;margin-bottom: 0px;margin-top:0px;}

.title-contato{font-size:35px;padding-bottom:15px;letter-spacing: 1.5px;text-align:center;padding-bottom: 10px;margin-left:0px;}
.subtitle-contato{font-size:23px;text-align:center;letter-spacing: 1.5px;margin-left:0px;}
.container-formulario{margin-top:80px;margin-left: 150px;background-color:black;width:350px; padding: 20px;border: 3px solid white; border-radius: 25px;-webkit-box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);-moz-box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);}
.contato-card{width: 400px;height: 190;margin-left: 2em;}
#title-forms{color:white;}
#texto-contato{margin-top: 100px;}
#btn-form{background-color: yellow; border-radius:25px; width: 100%;font-size:20px;}
textarea {resize: none;}
.form-label {
	font-size: px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}

.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}

/*     ✱✱✱✱✱✱✱SECTION 9 - FOOTER ✱✱✱✱✱✱✱     */ 
.container-footer{margin-bottom: 30px;margin-top:0px;}
#footer_logo{width:260px;padding: 11px;margin-bottom: 11px;}
#subtitle_footer{font-size: 27px;letter-spacing: 1.8px;color:white;padding-top: 0px;padding-bottom: 7px;margin-top:15px;}
}
@media screen and (min-width: 1500px){
	/*     ✱✱✱✱✱✱✱SECTION 8 - CONTATO ✱✱✱✱✱✱✱     */   
#contato{height: 750px;margin-bottom: 0px;margin-top:0px;}

.title-contato{font-size:35px;padding-bottom:15px;letter-spacing: 1.5px;text-align:center;padding-bottom: 10px;margin-left:0px;}
.subtitle-contato{font-size:23px;text-align:center;letter-spacing: 1.5px;margin-left:0px;}
.container-formulario{margin-top:80px;margin-left: 150px;background-color:black;width:550px; padding: 20px;border: 3px solid white; border-radius: 25px;-webkit-box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);-moz-box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);}
.contato-card{width: 400px;height: 190;margin-left: 6em;}
#title-forms{color:white;}
#texto-contato{margin-top: 100px;}
#btn-form{background-color: yellow; border-radius:25px; width: 100%;font-size:20px;}
textarea {resize: none;}
.form-label {
	font-size: px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}

.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}

/*     ✱✱✱✱✱✱✱SECTION 6 - ODS ✱✱✱✱✱✱✱      */
.cont_6{height: 900px;padding-left: 50px;padding-top: 80px;}
.cont_6 h2{color: yellow;font-weight: 600;font-size: 43px;letter-spacing:4px;}
.cont_6 h4{color: white;font-weight: 600;letter-spacing: 2px;font-size: 20px;}
.cont_6 h3{color: yellow;font-weight: 600;font-size: 23px;letter-spacing: 2px;text-transform: uppercase;}
.cont_6 h5{color: white;letter-spacing: 2px;text-transform: uppercase;font-size: 18px;margin: 0 auto;}
.img_ods{width: 200px;margin-top:30px;margin-bottom: 65px;}
}








/* CARROUSEL */
.testimonial{ margin: 0 10px; }
.testimonial .testimonial-content{
    margin: 20px 0 50px 0;
    position: relative;
}

.testimonial .testimonial-profile{
    display: table;
    padding:50px 50px;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    background-color:white;
}
.testimonial .pic{
    width: 150px;
    height: 150px;
    border-radius: 15%;
    overflow: hidden;
}

.testimonial .title{
    display: inline-block;
    margin-left:17px;
    font-size: 19px;
    font-weight: bold;
    color: black;
    position: relative;
    top: 22px;
}

.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
    background: transparent;
    border: 2px solid white;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span{
    background: yellow;
    border: 2px solid yellow;
}
@media only screen and (max-width: 479px){
    .testimonial .description{
        padding: 20px;
        font-size: 16px;
    }
    .testimonial .title{ font-size: 16px; }
    .testimonial .post{ font-size: 13px; }
}



